__pycache__/
venv_refactor/
/images
images/*
*.py[cod]
*$py.class
*.pyc
*.bat
.idea
.todo
*.log
*.txt
*.backup

*.jpg
*.png
*.mp4
*.mkv

.tmp/
models/
temp/
venv/
workflow/
gfpgan/ 
