__pycache__/
venv_refactor/
/images
images/*
*.py[cod]
*$py.class
*.pyc
*.bat
.idea
.todo
*.log
*.txt
*.backup
*.Identifier


*.jpg
*.png
*.mp4
*.mkv
*.webp
*.gif
*.bmp
*.tiff
*.heic
*.heif
*.hevc
*.avif
*.apng
*.avif
*.heic
*.heif
*.hevc
*.avif
*.apng
*.avif
*.heic
*.heif
*.hevc
*.avif
*.jpeg
*.JPG
*.JPEG
*.PNG
*.MP4
*.MKV
*.WEBP
*.GIF
*.BMP
*.TIFF

.tmp/
models/
temp/
venv/
workflow/
gfpgan/ 
last_used_paths.json

last_used_paths.json
